@use '../common/variables' as *;

@mixin center_and_size_svg($size: 12px) {
  user-select: none;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.svg-fit-font-size {
  svg {
    height: 1em !important;
    width: 1em !important;
  }
}

/* Стиль для иконок, которые могут быть кликабельными */
@mixin svg_make_clickable {
  svg {
    cursor: pointer;
    transition: all 0.3s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.25);
        opacity: 0.84;
      }
    }

    &:active {
      transform: scale(1.15);
      opacity: 0.72;
    }
  }
}

.svg--hidden {
  opacity: 0;
  pointer-events: none;
}

.svg-rotated {
  svg {
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.15s ease-in;
  }

  &.rotated-180 {
    svg {
      transform: rotate(180deg);
      color: $accent-primary;
    }
  }
}
