.info__icon_block {
  display: flex;
  gap: 25px;
  align-items: start;

  a {
    color: #fff;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: balance;
  }
}
