@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica.eot');
  src: local('Helvetica'),
  url('../../public/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Helvetica.woff2') format('woff2'),
  url('../../public/fonts/Helvetica.woff') format('woff'),
  url('../../public/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica-Light.eot');
  src: local('Helvetica Light'), local('Helvetica-Light'),
  url('../../public/fonts/Helvetica-Light.eot?#iefix')
  format('embedded-opentype'),
  url('../../public/fonts/Helvetica-Light.woff2') format('woff2'),
  url('../../public/fonts/Helvetica-Light.woff') format('woff'),
  url('../../public/fonts/Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica-Bold.eot');
  src: local('Helvetica Bold'), local('Helvetica-Bold'),
  url('../../public/fonts/Helvetica-Bold.eot?#iefix')
  format('embedded-opentype'),
  url('../../public/fonts/Helvetica-Bold.woff2') format('woff2'),
  url('../../public/fonts/Helvetica-Bold.woff') format('woff'),
  url('../../public/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
