/* Breakpoints */
$WIDTH_PHONE: 480px;
$WIDTH_WIDE_PHONE: 560px;
$WIDTH_SMALL_TABLET: 660px;
$WIDTH_TABLET: 768px;
$WIDTH_WIDE_TABLET: 1024px;
$WIDTH_LAPTOP: 1248px;
$WIDTH_DESKTOP: 1440px;
$WIDTH_HD: 1920px;

/* Accent colors */
$accent-primary: #13714c;
$accent-primary--hover: #108557;
$accent-primary--active: #0b5e3d;
$accent-primary--active-stroke: #03482d;

$accent-secondary: #65617b;
$accent-secondary--hover: #86829e;
$accent-secondary--active: #504c65;

$link-green: #3ab67d;

$grey--divider: #c7c8ca;

$danger: #eb5757;
$success: #6fcf97;
$warning: #fdc361;

/* Text colors */

/* Backgrounds */
$bg-white--footer: #f8f9fa;

$bg-light-green-o12: rgba(58, 182, 125, 0.12);
$bg-light-green-o24: rgba(58, 182, 125, 0.24);

$bg-button--disabled: rgba(101, 97, 123, 0.1);

$darkGrey: #65617b;
$lightGrey: #8a879d;
$tabsGrey: rgba(0, 0, 0, 0.12);
$footerGrey: #e5e7eb;
$greyF5: #f2f3f5;
$newGrey: #9ca3af;
$newLightGrey: #d2d1dc;
$green: #13714c;
$lightGreen: #3ab67d;
$birch: #52be8d;
$veryLightGreen: #a2e494;
$lowOpacityGreen: #dbffee;
$highOpacityGreen: #68fdb6;
$box: #d9d9d9;
$shadow: rgba(0, 0, 0, 0.25);
$tableGrey: #ededed;
$red: #e42d1a;
$anotherRed: #ff0000;
$blue: #4285f4;
$landingBlack: #050505;
$black33: #333333;
$black11: #111111;
$black: #262b2f;
$lowOpacityGray: #f3f3f7;
