/* Breakpoints */
$WIDTH_PHONE: 480px;
$WIDTH_WIDE_PHONE: 560px;
$WIDTH_SMALL_TABLET: 660px;
$WIDTH_TABLET: 768px;
$WIDTH_WIDE_TABLET: 1024px;
$WIDTH_LAPTOP: 1248px;
$WIDTH_DESKTOP: 1440px;
$WIDTH_HD: 1920px;

/* Accent colors */
$accent-primary: #13714c;
$accent-primary--hover: #108557;
$accent-primary--active: #0b5e3d;
$accent-primary--active-stroke: #03482d;

$accent-secondary: #65617b;
$accent-secondary--hover: #86829e;
$accent-secondary--active: #504c65;

$link-green: #3ab67d;

$grey--divider: #c7c8ca;

$danger: #eb5757;
$success: #6fcf97;
$warning: #fdc361;

/* Text colors */

/* Backgrounds */
$bg-white--footer: #f8f9fa;
