@use '../../styles/mixins/grid' as *;
@use '../../styles/common/variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  background: #000;
  padding-top: 80px;
  padding-bottom: 66px;

  .logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
  }

  .container {
    @include container();
    @include container-fixed();
  }

  h4 {
    text-align: center;
    color: #fff;
    font-family: var(--font-inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 35px;
  }

  hr {
    height: 1px;
    background: #fff;
  }

  &__info {
    display: grid;
    padding-top: 20px;
    gap: 2rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));

    border-top-width: 1px;
    border-color: #f3f4f6;


    @media (max-width: $WIDTH_TABLET) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &_block {
      text-align: center;
      display: inline-flex;
      flex-direction: column;

      h6 {
        color: #fff;
        font-family: var(--font-poppins);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 20px;

        @media (max-width: $WIDTH_TABLET) {
          text-align: left;
        }
      }

      .main__info {
        display: flex;
        flex-direction: column;
        gap: 25px;



        div {
          display: flex;
          gap: 25px;
          align-items: start;

          @media (max-width: $WIDTH_TABLET) {
            gap: 13px;
            justify-content: flex-start;

            a {
              text-align: left;
            }
          }
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 25px;

        li {
          @media (max-width: $WIDTH_TABLET) {
            text-align: left;
          }
          a {
            color: #fff;
            font-family: var(--font-poppins);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;


          }
        }
      }

      @media (min-width: 640px) {
        text-align: left;
      }
    }
  }
}
