@use '../../../../../styles/common/variables' as *;

.caption {
  color: #000;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 1.25rem;
  row-gap: 0.875rem;

  @media (max-width: $WIDTH_TABLET) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .radio {
    margin-top: 15px;

    input {
      display: none;

      &:checked {
        & ~ .indicator {
          background-color: #000;

          &::after {
            opacity: 1;
          }
        }
      }
    }

    .indicator {
      display: block;
      position: relative;
      border-radius: 9999px;
      width: 13px;
      height: 13px;
      background-color: #e0e0e0;

      &::after {
        content: '';
        background: url('../../../../../assets/icons/check.svg') no-repeat;
        position: absolute;
        top: 0.25rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        opacity: 0;
        left: 3px;
        width: 7px;
        height: 5px;
      }
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;

      color: #000;
      font-family: var(--font-poppins);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
